    .ORANGE{
        background-color: #ffa500;
    }

    .RED{
        background-color: #ff0000;
    }

    .GREEN{
        background-color: #6c3;
    }

  .overlay {
    width: 90%;
    height: 60%;
    padding-right: 30px;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
  }

  .main-preview{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }

  .sidebar-container:last-child{
        background: #fff;
        font-family: 'Oswald', sans-serif;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        min-height: 110px;
        margin-bottom: 50px;
        margin-top: 40px; 
        box-shadow: 0 0 10px yellow;
  }

  .devlp{
      position: absolute;
      align-self: center;
      top: 97%;
  }

  .weather{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 5px;
    align-items: center;
    align-self: center;
  }
  
  .weather-grad-icon{
    height: 64px;
  }

  .weather-grad-count{
    font-size: 40px;
    color: gray;
  }

  .weather-cityName{
    flex-grow: 1;
    font-size: 22px;
    margin: 0 5px 0 25px;
  }

  .loader {
    margin: auto;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid rgb(94, 94, 245);
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid rgb(94, 94, 245);
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid rgb(94, 94, 245);
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

@media (max-width: 1000px) {
    body{
        flex-direction: column;
    }

    .devlp{
        display: none;
    }

    .sidebar{
        min-height: 200px;
        max-height: 200px;
    }

    .sidebar div{
        flex-grow: 1;
    }

    .main-line{
        display: none;
    }

    .main-logo{
        width: 190px;
    }

    .sidebar-fixed{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
    }
}

@media (min-width: 1000px){
    .sidebar{
        flex-direction: column;
    }

    .main-logo{
        transform: rotate(-20deg);
        width: 200px;
    }

    .sidebar-fixed{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: fixed;
        height: 100%;
        justify-content: space-between;
    }
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Arial', sans-serif;
}

body a{
    text-decoration: none;
    color: black;
}

.header{
    height: 90px;
    display: flex;
    align-items: center;
}

.sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 328px;
    padding: 0;
    margin: 0;
    background-color: rgba(174, 204, 228, 0.712);
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    font-family: 'Arial', sans-serif;
}

.main-logo{
    align-self: center;
    border-radius: 100px;
    box-shadow: 0 0 10px green;
    cursor: pointer;
}

.main-line{
    min-width: 5px;
    background-color: #dee1e2;
    box-shadow: -17px 0 90px #000;
    padding-top: 70px;
}

.hidden{
    display: none;
}

.current-section{
    height: 45px;
    padding-right: 10px;
    margin-bottom: 45px; 
}

.current-section ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: baseline;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    color: rgb(190, 189, 189);
    font-size: 16px
}

.current-section ul li:first-child{
    padding-left: 60px;
    padding-right: 10px;
    height: 100%;
    min-width: 88px;
    margin-right: 20px;
    background-color: gold;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.navigation{
    display: flex;
    align-items: center;
    padding-left: 60px;
    margin: 0;
    flex-grow: 1;
}

.navigation-ul{
    display: flex;
    flex-grow: 4;
    padding: 0;
    min-width: 250px;
    flex-grow: 5;
    list-style: none;
}

.navigation-ul li a{
    line-height: 30px; 
    margin-right: 30px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    flex-grow: 1;
}

.navigation-ul a:hover{
    cursor: pointer;
    border-bottom: 2px solid gold;
}

.search{
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.search input{
    flex-grow: 1;
    padding: 3px 10px 3px;
    height: 30px;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    width: 150px;
}

.navigation-social{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 30px;
}

.navigation-social li{
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
}

.navigation-social li a:hover{
    cursor: pointer;
    color: gold;
}

.content-box{
    display: flex;
    padding: 0 30px 30px 60px;
    font-size: 18px;
    min-width: 600px;
    max-height: 495px;
}


.sidebar-container{
    display: flex;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px
}

.g2a-logo{
    color: #fff;
    margin: auto;
    width: 200px;
}

.log-manager{
    display: flex;
    height: 20px;
    align-items: center;
    margin-left: 20px;
}

.container{
  
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-admin{
    display: flex;
    min-width: 97px;
    height: 77px;
    justify-content: space-around;
    margin-right: 20px;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.nav-admin label{
    padding: 5px 0 5px 4px;
}

.nav-admin-selected{
    color: #fff;
    background-color: gold;
    border-radius: 5px 0 0 5px ;
}

.admin-aside{
    background-color: rgba(119, 196, 240, 0.082);
    border: 2px solid #dcdcdc;
    width: 500px;
    padding: 15px;
}

.selected-arrow{
    padding: 5px 0 5px 0;
    margin-right: -2px;
    width: 20px;
    height: 28px;
    position: relative;
}

.CRUD-form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.CRUD-submit{
    height: 40px;
    background-color: #dcdcdc;
    border: 0;
    width: 100px;
    margin: 10px auto 10px 0; 
    border-radius: 10px;
    font-weight: bolder;
    border-radius: 0 5px 5px 0;
}

.CRUD-submit:hover{
    cursor: pointer;
    color: #fff;
    background-color: gold;
}

.CRUD-input{
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

.CRUD-textarea{
    width: 90%;
    height: 65px;
    resize: none;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

.textarea-counter{
    position: absolute;
    font-size: 15px;
    right: 50px;
    top: 190px;
    color: #7d7d7d;
}

.send-succesfull{
    position: absolute;
    bottom: 18px;
    border-radius: 10px;
    margin-right: 10px;
    align-self: center;
    padding: 0px 5px 0 5px;
    color: #fff;    
    margin-left: 10px;
}

.send-error{
    border-radius: 10px;
    margin-right: 10px;
    align-self: center;
    padding: 0px 5px 0 5px;
    color: #fff;    
    margin-left: 10px;
}

.validate-error{
    box-shadow: 0 0 10px #ff0000; 
}

.admin-games{
    display: flex;
    flex-direction: column;
    background-color: rgb(197, 218, 235);
    border: 2px solid #dcdcdc;
    border-left: none;
    padding-top: 5px;
    min-width: 155px;
    border-radius: 0 10px 10px 10px;
}

.admin-games-list{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-bottom: 2px solid #dcdcdc;
    padding-top: 5px;
    margin-bottom: 3px;
    min-width: 155px;
    max-width: 155px;
    height: 155px;
    flex-grow: 1; 
    border-radius: 0 10px 10px 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    word-break: break-word;
}

.admin-games-search{
    display: flex;
    align-items: center;
    min-height: 40px;
}

.game{
    display: flex;
    position: relative;
    min-height: 100px;
    padding: 2px;
    width: 128px;
    margin: 5px 2px 5px 2px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: rgb(244, 250, 254);
    opacity: 0.85;
}

.game:hover{
    opacity: 1;
}

.game-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100px;
    max-width: 40px;
    min-width: 40px;
    padding: 0 3px 0 3px;
}

.game-logo-img{
    max-height: 36px;
    min-width: 36px;
    max-width: 36px;
    background-color: #fff;
    padding: 20px 5px 20px 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px #6c3;
}

.game-name{
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    text-align: center;
    word-break: break-word;
    overflow: hidden;
}

.delete-icon{
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(./img/cancel.svg);
    background-size: 100%;
    right: -4px;
    top: -8px;
    opacity: 0.9;
}

.pop-up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 100vh;
    position: fixed;
    overflow-y: clip;
    background-color: #dee1e26e;
}

.delete-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    height: 100px;
    border: 1px solid gainsboro;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(174, 204, 228);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.delete-modal span{
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    text-align: center;
}

.delete-modal button{
    width: 30px;
    border-radius: 100%; 
    height: 30px;
    border: 0;
    cursor: pointer;
}

#add-img{
    width: 50px;
    align-self: center;
    cursor: pointer;
}

#modal-yes{
    background-image: url('./img/checked.svg');
    background-size: 100%;
}

#modal-no{
    background-image: url('./img/cancel.svg');
    background-size: 100%;
}

.close-pop{
    position: absolute;
    width: 35px;
    height: 35;
    background-image: url(./img/cancel.svg);
    background-size: 100%;
    top: 20px;
    right: 30px;
    opacity: 0.6;
}

.close-pop:hover{
    cursor: pointer;
    opacity: 1;
}